# Python caches
__pycache__/
*.pyc

# Environments
.venv/
env/
venv/

# Build artifacts (if you compile it to an .exe later)
build/
dist/
*.spec

# Ignore the actual active configuration file
config.json